#header,
#main,
#sidebar,
#footer {
    display:inline;
    position:relative;
    float:left;
}
#header,
#footer {
    width:100%;
    height:60px;
}
#header {
    margin-bottom:2%;
}
#footer {
    margin-top:2%;
}
#main {
    width:100%;
    margin-right:2%;
}
#sidebar {
    width:30%;
    height:50%;
}

#home-desire-input {
    display:inline;
    position:relative;
    float:left;
    width:100%;
    margin-bottom:2%;
}

#home-can-block, #home-want-block {
    display:inline;
    position:relative;
    float:left;
    width:46%;
    margin-right:2%;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    list-style-type: none;
}

.items-list {
    margin: 40px 15px 15px;
    overflow: hidden;
    padding: 0;
}

html {
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top, #aaa, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
    background-image: linear-gradient(top, #aaa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
    background-repeat: no-repeat;
    height: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}