<div ng-include src="'chunks/desires/header.html'"></div>
<div style="padding:5px">
    <div id="desire-content">
        <h2 class="warning">
            <span>{{desire.nickname}}
                <ng-switch on="desire.type">
                    <span ng-switch-when="want"> wants</span>
                    <span ng-switch-default> can</span>
                </ng-switch>
            </span>
        </h2>
        <div id="desire-want-block">
            <textarea rows="5" cols="100" class="disabled"
                      disabled="disabled">{{desire.description}}</textarea>
        </div>
        <br><button type="submit" class="btn-warning btn-small" >
                <ng-switch on="desire.type">
                    <span ng-switch-when="want">I can</span>
                    <span ng-switch-default>I want</span>
                </ng-switch>
            </button>
        <i class="icon-map-marker"></i><span> {{desire.geotag}}</span>
        <i class="icon-time"></i>
        <span>
            <time-ago from-time='{{desire.createdOn}}'></time-ago>
        </span>
    </div>
    <div id="comments">
        <h3>Comments</h3>
        <ul ng-repeat="comment in desire.comments">
            <li>
                <a href="#" ng-click="deleteComment(desire.id, comment.commentId)"><i class="icon-trash"></i> Delete</a>
                <span>{{comment.commentId}} {{comment.nickname}} said: {{comment.description}}</span>
            </li>
        </ul>
        <textarea ng-model="description" rows="5" cols="100"
                  maxlength="500"></textarea><br>
        <button class="btn-error"
                ng-click="createComment(desire.id, description)">
            Add comment
        </button>
        <a href="#/desire"><button class="btn-error">Back</button></a>
    </div> </div>
</div>

